<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This website was created by Jacob Edwards. It uses data from mapbox.com and weatherstack.com.</p>
            <img id="portrait" src='./img/robot.png'>
        </div>
        {{>footer}}
    </body>
</html>